<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">  
    <link rel="stylesheet" href="/css/style.css" type="text/css">     
    <title>Atualize seu Post</title>
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="textoNavbar">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"> Home </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/posts/page/1"> Posts </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts/addpost">Faça um Post</a>
                </li>
                </ul>

                <span class="navbar-text">
                    <% if (userid == false){ %>
                    <a href="/login.html">Login</a>   
                    <a class="p-4" href="/cadastro.html">Cadastro</a>
                    
                    <% } else { %>
                    <a href="/logout">Logout</a>
                    <% } %>
                </span>
            </div>
            </nav>
        </header>


    <hr>
    <form action="/posts/update" method="post">
        <div class="form-group">
            <label for="content">Novo conteudo:</label><br>
            <textarea name="content" cols="30" rows="10"></textarea>
            <input type="hidden" name="postid" value="<%=postid%>">
        </div>
        <input type="submit" value="Enviar" class="btn button"><br>
    </form>  
    </div>
</body>
</html>